body {
  display: flex;
  margin: 0;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  min-height: 100vh;
  width: 100vw;
  background-color: #333;
  color: #e6ede8;
}

.App a {
  color: #73abff;
  text-decoration: none;
}

.App a:hover {
  text-decoration: underline;
}

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.register {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.listing-image {
  height: 10vh;
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 40vw;
}

.new-account-form {
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-bottom: 5vh;
}
